<div class="col-lg-12">
    <div id="diagnosisTitle" class="title__diagnosis">
        @Model.Title
    </div>
    <div class="diagnosis__container">
        <pid="diagnosisDescription" class="description">
            @Model.Description
        </p>
    </div>
</div>