header{
    background: url('../lib/main-bg.png') no-repeat center top;
    height: 1068px;
}

.title{
    padding-top: 70px;
    padding-left: 600px;
    font-family: 'Inter', sans-serif;
    text-align: end;
    color: white;
    margin-right: -55px;
    letter-spacing: 1px;
}

.title__heading{
    font-size: 108px;
    font-weight: 600;
}

.title__desc{
    font-size: 50px;
    padding-top: 150px;
    line-height: 60px;
    font-weight: 600;
}

.title__secondconv{
    margin-top: -18px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
}

.title_postscriptum{
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
}

.image-box{
    margin: 40px 248px;
    width: 800px;
    height: 380px;
    border: 3px solid black;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img{
    max-width: 50%;
    max-height: 50%;
}

.select-image{
    border: 3px solid black;
    border-radius: 16px;
    font-weight: 300; 
    height: 82px;
    width: 406px;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    margin-left: 445px;
    background-color: white;
}

.diagnosis{
    margin-top: 60px;
    background-color: black;
    height: 900px;
}

.title__diagnosis{
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 40px;
}

.diagnosis__container{
    width: 1455px;
    height: 740px;
    border: 3px solid white;
    border-radius: 16px;
    margin-top: 40px;
    margin-left:-80px;
}

.description{
    color:White;
    margin: 16px;
    font-size: 24px;
}



